{% load static %}
{% block head %}
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse1">
                <ul class="navbar-nav w-100">
                    <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">

                        {% if user.name %}
                            <h3>Здравствуйте, {{user.name}}</h3>
                        {% else %}
                            <form action="{% url 'auth' %}">
                                <button class="btn btn-outline-success foodplan_green foodplan__border_green" name="next" value="index">Войти</button>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}