<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                <form>
                    <button class="btn btn-outline-success foodplan_green foodplan__border_green" type="submit" formaction="{% url 'auth' %}" name="logout" value="True">Выйти</button>
                </form>
            </div>
        </nav>
    </header>
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                        </h4>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>
                    
                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <h3 class="card-title text-center">{{user.name}}</h3>
                        <div class="d-block">
                            <form>
                                <button class="btn btn-outline-success foodplan_green foodplan__border_green" type="submit" formaction="{% url 'auth' %}" name="logout" value="True">Выйти</button>
                            </form>
                        </div>
                    </div>

                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                            <ul class="nav nav-tabs">
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                                </li>
                                <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="data">
                                    <form action="{% url 'lk' %}" method="post">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputEmail1" class="form-label">Имя</label>
                                                <small><a id="name" href="#" class="link-dark foodplan_green" onclick="enableform(this)">изменить</a></small>
                                            </div>                                        
                                            <input type="text" class="form-control" id="name" value="{{user.name}}" name="name" disabled="true">
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                                <small><a id="email" href="#" class="link-dark foodplan_green" onclick="enableform(this)">изменить</a></small>
                                            </div>
                                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{user.email}}" name="email" disabled="true">
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                                                <small><a id="password" href="#" class="link-dark foodplan_green" onclick="enableform(this)">изменить</a></small>
                                            </div>                                        
                                            <input type="password" class="form-control" id="password" name="password" onchange="CheckPasswordMatch()" disabled="true">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
                                            <input type="password" class="form-control" id="PasswordConfirm" onchange="CheckPasswordMatch()">
                                        </div>
                                        <div class="d-block">
                                            <button type="submit" class="btn btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                                изменения</button>
                                        </div>
                                        {% csrf_token %}
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="menu">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                        </div>
                                        {% if types %}
                                            <div class="col-10 col-md-10">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h2>Подписка до {{finish_time}}</h2>
                                                    </div>
                                                    <div class="col-md-12 col-lg-9">
                                                        <h6>
                                                            Вам доступны следующие приемы пищи:
                                                            {% for type in types %}
                                                                <h6>{{type}}</h6>
                                                            {% endfor %}
                                                        </h6>
                                                    </div>
                                                    <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Персоны: </small><small>{{persons}}</small>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Аллергии: </small>
                                                            {% for allergy in allergies %}
                                                                <small>{{allergy}}</small>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Калории: </small><small>{{calories}}</small>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Кол-во приёмов пищи: </small><small>{{types|length}}</small>
                                                        </div>                                                        
                                                    </div>
                                                    <form action="{% url 'recipe' %}">
                                                        <button class="btn btn-outline-success foodplan_green foodplan__border_green" type="submit" name="getnew" value="True">Получить новый рецепт</button>
                                                        <button class="btn btn-outline-success foodplan_green foodplan__border_green" type="submit">Посмотреть последний рецепт</button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-12">
                                                <h2>У вас пока нет активных подписок</h2>
                                            </div>
                                            <form>
                                                <button class="btn btn-outline-success foodplan_green foodplan__border_green" type="submit" formaction="{% url 'order' %}">Выбрать подписку</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                            
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav class="navbar navbar-expand-md navbar-light mt-5">
            <div class="container p-2">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                <div class="footer__sideBtns d-flex">
                    <a href="#">
                        <img src="{% static 'img/vk.png' %}" height="38" width="auto" alt="">
                    </a>
                </div>
            </div>
        </nav>
    </footer>
    <footer class="footer pt-2" style="border-top: 1px solid lightgray;">
        <div class="container d-flex flex-row justify-content-center mb-2">
            <small class="text-center">
                <h6>© Девман2022. Все права защищены. © Devman2022. All right reserved.</h6><a href="#"
                    class="link-secondary">Политика конфиденциальности</a>
            </small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        function CheckPasswordMatch() {
            const password = document.querySelector('input[name=password]');
            const confirm = document.querySelector('input[id=PasswordConfirm]');
            if (confirm.value === password.value) {
                confirm.setCustomValidity('');
            } else {
                confirm.setCustomValidity('Passwords do not match');
            }
        }
        function enableform(feature) {
            const field = document.querySelector(`input[name=${feature.id}]`)
            field.disabled = false
        }
    </script>
</body>